.actions {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.card-face {
	margin-left: -3rem;
	margin-top: 3rem;
}

.card-face:first-child {
	margin-left: 0;
}

.card-face:hover {
	margin-right: 3rem;
}

.card-face:last-child {
	margin-right: 0rem;
}

.card-face:focus {
	margin-top: 0;
}

.hand {
	display: flex;
	align-items: center;
	justify-content: center;
}
