.actions {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.in-hand {
	margin-left: -3rem;
	margin-top: 3rem;
}

.in-hand:first-child {
	margin-left: 0;
}

.in-hand:hover {
	margin-right: 3rem;
}

.in-hand:last-child {
	margin-right: 0rem;
}

.in-hand:focus {
	margin-top: 0;
}

.hand {
	display: flex;
	align-items: center;
	justify-content: center;
}
