.trick {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.trick-sides {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 1rem;
	align-items: center;
}

.trick-left {
}
