.trick {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 20rem;
	justify-content: center;
	position: relative;
}

.trick-card {
	position: absolute;
	top: 50%;
}

.left {
	transform: translate(-5rem) rotate(102deg);
}

.right {
	transform: translate(5rem) rotate(280deg);
}

.across {
	transform: translate(0, -5rem) rotate(186deg);
}

.in-front {
	transform: translate(0, 5rem) rotate(-13deg);
}
